::-webkit-scrollbar {
    display: none;
}
body {
    font: 16px sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #ffffff;
    overflow: scroll;
    background: #222222;
}
input[type="button"], input[type="text"], input[type="number"] {
    width: 45%;
}
input[type="text"], input[type="number"], .switch {
    float: right;
}
input[type="button"]:hover {
    background: #666666;
}
input[type="button"]:disabled {
    background: #222222;
}
input[type="button"], input[type="text"], input[type="number"], select {
    color: #ffffff;
    background: #444444;
    border: none;
    font-size: 14px;
    padding: 6px 8px;
    cursor: pointer;
    outline: 0;
}
select, .centeredButton input[type="button"] {
    margin-left: 15%;
    width: 70%;
}
.column {
    padding: 0.2vw;
    float: left;
}
.group {
    background-color: #131313;
    border-color: #666666;
    width: 22.5vw;
}
.inner-group {
    border-radius: 1vw;
    background-color: #302f2f;
    border-color: #797979;
}
.group, .inner-group {
    border-width: 2px;
    border-style: solid;
    padding: 0.5vw;
    margin-top: 0.2vh;
    margin-bottom: 0.2vh;
    margin-left: 0.2vw;
    margin-right: 0.2vw;
}
h1, h2, h4 {
    text-align: center;
}
.enabled {
    border-color: #00ff00;
    background-color: #133313
}
.disabled {
    border-color: #ff0000;
    background-color: #331313
}
